<footer class="footer">
    <div class="footer-content">
        <div class="footer-item">
            <div class="footer-Title">ПРЯМОЙ ССЫЛКОЙ БЕЗ ТОРРЕНТА</div>
            <div class="footer-Text">Чтобы получись игру прямой ссылкой без торрента, достаточно кликнуть по кнопке, закачка пройдет быстро и без лагов. В игру всегда встроена таблетка и лекарство, запуск на нетбуке или ультрабуке происходит без образа диска.</div>
        </div>
        <div class="footer-item">
            <div class="footer-Title">СО ВСЕМИ ДОПОЛНЕНИЯМИ И DLC</div>
            <div class="footer-Text">Важно скачать нормальный файл, будь то ISO, Rip работающий без стима или лицензия от GOG. Особенность качественного релиза в правильной сборке, имеющей статус «All DLC», что означает – полное издание, содержащее все дополнения.</div>
        </div>
        <div class="footer-item">
            <div class="footer-Title">БЕЗ ВИРУСОВ НА СЛАБЫЙ ПК</div>
            <div class="footer-Text">Быстрая загрузка на торрент трекере позволяет вытащить из каталога игры без вирусов на PC. Механики и хатаб делают чистые раздачи для слабых ПК, их можно легко запустить, чтобы узнать сколько весит игра, взгляните на размер.</div>
        </div>
    </div>
    <div class="sub-footer">
        <p>VroTorrent.Net - Игровой сайт с торрентами.</p>
    </div>
</footer>