<div class="Header">
    <div style="background-image: url(/img/devices.png);" class="Header-content">
        <div class="Logo">
            <div class="Logo-Title">Pavlo</div>
            <div class="Logo-subTitle">Torrent.net</div>
        </div>
        <nav class="nav">
            <a class="nav-link" href="#"><div class="nav-text">Вход</div></a>
        </nav>
    </div>
</div>