<dir class="sidebar">
    <div class="sidebar-Title"><i style="color:green" class="fa-sharp fa-solid fa-sheet-plastic"></i>-Категории</div>
    <div class="list-box">
        <div class="list-2"><a href="" class="list-item">Горячие новинки</a><a href="" class="list-item">Русская озвучка</a></div>
        <div class="list-2"><a href="" class="list-item">От 1-го лица</a>   <a href="" class="list-item">От 3-го лица</a></div>
        <div class="list-2"><a href="" class="list-item">Мультиплеер</a>    <a href="" class="list-item">Для VR очков</a></div>
    </div>
    
    <div class="list-box">
        <div class="list-title">ЖАНРЫ</div>
        <div class="list-2"><a href="/Home/Category/Arkady" class="list-item">Аркади</a>         <a href="/Home/Category/Strategy" class="list-item">Статегии</a></div>
        <div class="list-2"><a href="/Home/Category/indie" class="list-item">Инди</a>           <a href="/Home/Category/RPG" class="list-item">RPG</a></div>
        <div class="list-2"><a href="/Home/Category/crafting" class="list-item">Крафтинг</a>       <a href="/Home/Category/Adventures" class="list-item">Приключения</a></div>
        <div class="list-2"><a href="/Home/Category/stealth" class="list-item">Стелс</a>          <a href="/Home/Category/PvP" class="list-item">PvP</a></div>
        <div class="list-2"><a href="/Home/Category/Survival" class="list-item">Выживание</a>      <a href="/Home/Category/ММО" class="list-item">ММО</a></div>
        <div class="list-2"><a href="/Home/Category/Action" class="list-item">Экшен</a>          <a href="/Home/Category/Platformer" class="list-item">Платформер</a></div>
        <div class="list-2"><a href="/Home/Category/Economy" class="list-item">Економични</a>          <a href="/Home/Category/Simulation" class="list-item">Симулятор</a></div>
    </div>

    <div class="list-box">
        <div class="list-title">ПО ГОДАМ</div>
        <div class="list-4"><a href="/Home/Leyer/1997" class="list-item">1997</a><a href="1998" class="list-item">1998</a><a href="1999" class="list-item">1999</a><a href="2000" class="list-item">2000</a></div>
        <div class="list-4"><a href="/Home/Leyer/2001" class="list-item">2001</a><a href="/Home/Leyer/2002" class="list-item">2002</a><a href="/Home/Leyer/2003" class="list-item">2003</a><a href="/Home/Leyer/2004" class="list-item">2004</a></div>
        <div class="list-4"><a href="/Home/Leyer/2005" class="list-item">2005</a><a href="/Home/Leyer/2006" class="list-item">2006</a><a href="/Home/Leyer/2007" class="list-item">2007</a><a href="/Home/Leyer/2008" class="list-item">2008</a></div>
        <div class="list-4"><a href="/Home/Leyer/2009" class="list-item">2009</a><a href="/Home/Leyer/2010" class="list-item">2010</a><a href="/Home/Leyer/2011" class="list-item">2011</a><a href="/Home/Leyer/2012" class="list-item">2012</a></div>
        <div class="list-4"><a href="/Home/Leyer/2013" class="list-item">2013</a><a href="/Home/Leyer/2014" class="list-item">2014</a><a href="/Home/Leyer/2015" class="list-item">2015</a><a href="/Home/Leyer/2016" class="list-item">2016</a></div>
        <div class="list-4"><a href="/Home/Leyer/2017" class="list-item">2017</a><a href="/Home/Leyer/2018" class="list-item">2018</a><a href="/Home/Leyer/2019" class="list-item">2019</a><a href="/Home/Leyer/2020" class="list-item">2020</a></div>
        <div class="list-4"><a href="/Home/Leyer/2021" class="list-item">2021</a><a href="/Home/Leyer/2022" class="list-item">2022</a><a href="/Home/Leyer/2023" class="list-item">2023</a></div>
    </div>
</dir>